@layer components {
  [role="alert"] {
    position: relative;
    display: flex;
    gap: var(--space-3);
    padding: var(--space-4) var(--space-6);
    background-color: var(--surface);
    border-radius: var(--radius-medium);
    font-size: var(--text-7);
    contain: paint;

    &[data-variant="error"],
    &[data-variant="danger"] {
      color: var(--danger);
      background-color: rgb(from var(--danger) r g b / 0.1);

      & a {
        color: var(--danger);
      }
    }

    &[data-variant="success"] {
      color: var(--success);
      background-color: rgb(from var(--success) r g b / 0.1);

      & a {
        color: var(--success);
      }
    }

    &[data-variant="warning"] {
      color: var(--warning);
      background-color: rgb(from var(--warning) r g b / 0.1);

      & a {
        color: var(--warning);
      }
    }
  }
}
