@layer components {
  [role="status"].skeleton {
    margin-block-end: var(--space-3);
    background: var(--surface);
    border-radius: var(--radius-small);
    animation: anim 2s infinite;
    background-size: 200% 100%;
    background-image: linear-gradient(
      90deg,
      var(--surface) 0%,
      var(--surface-high) 50%,
      var(--surface) 100%
    );

    &.box {
      width: 4rem;
      height: 4rem;
    }

    &.line {
      height: 1rem;
      width: 100%;
    }
  }

  [role="status"].skeleton:last-child {
    margin-block-end: 0;
  }

  @keyframes anim {
    from { background-position: 200% 0; }
    to { background-position: -200% 0; }
  }
}
